extends layout

block content
  h1= title 
  p Sarika Manchala
  div(class="container-fluid")
        div(class="row")
            -
                let cat = [
                    {
                        "Brand": "LongFur",
                        "price": 100,
                        "color": "White"
                    },
                    {
                        "Brand": "RussianBlue",
                        "price": 200,
                        "color": "Brown"
                    },
                    {
                        "Brand": "siamese",
                        "price": 400,
                        "color": "Black"
                    },                   
                ]
            each v,index in cat 
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.Brand}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.price}
                div(class="col-sm-2" onclick=`buy(${index})`) #{v.color}
                
  script.                
        function buy(intemNo)
        {
              alert(`you purchased Item ${intemNo+1}`)
        }                